/*back-end testing purposes*/

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*#room_div {*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    padding-top: 10%;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*    background-color: rgb(0,0,0);*/
/*    background-color: rgba(0,0,0,0.4);*/
/*}*/

/*#room_div_inner {*/
/*    background-color: #fefefe;*/
/*    margin: auto;*/
/*    padding: 5%;*/
/*    border: 1px solid #888;*/
/*    width: 30%;*/
/*    height: 10%;;*/
/*}*/

.display-none {
    display: none;
}

.visibility-none {
    visibility: hidden;

}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#start-game {
    position: absolute;
    left: 0;
    bottom: 0;
}



.second-col, .third-col {
    width: 33%;
    height: 615px;
    background: #C5D3F5;
    border-radius: 20px;
    margin: 15px;
}

.first-col {
    width: 33%;
    height: 600px;
    border-radius: 20px;
    margin: 15px;
}

.profile, .ingame {
    height: 50%;
    width: 100%;
    background: #C5D3F5;
    border-radius: 20px;
}

.profile {
    margin-bottom: 15px;
}

.col-title {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4c97ca;
    margin: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.room {
    border: solid #278bc4 1px;
    background: #B1D9FF;
    border-radius: 15px;
    margin: 10px;
}

.room-players {
    text-align: center;
}