<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/room.js') }}" defer></script>
</head>
<body>
    <div class="card" id="room_div">
        <label for="username">Username:</label>
        <input id="username" required>
        <button type="button" id="username_button">Test button</button>
    </div>
</body>
</html>