<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">

    {#    CSS for back-end testing purposes#}
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/codecool-logo.png') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/room.css') }}">

    {#    CSS for back-end testing purposes#}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/room.js') }}" defer></script>
</head>
<body>
    <section id="body-wrapper">
        <header class="clearfix">
            <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
            <span id="header-title" class="title">Codecool.io</span>
        </header>

        <div class="container card">
            <div class="first-col">
                <div class="profile">
                    <p class="col-title">Profile</p>
                    {% if not room_id %}
                        <div id="room_div" class="username-input">
                            <div id="room_div_inner">
                                <label for="username">Username:</label>
                                <input id="username" required>
                                <button type="button" id="username_button">Set username</button>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="ingame" id="playing_room">
                    <p class="col-title">In game</p>
                </div>

            </div>

            <div class="second-col">
                <div id="waiting_room" class="waiting">
                    <p class="col-title">Waiting</p>
                    {% if room_id %}
                        <div class="room" data-room="{{ room_id }}">
                            <p class="room-players">Players:</p>
                            <ul class="players-icon">
                                {% for player in players %}
                                    <li class="player-datas">
                                        <span class="player-name">{{ player }}</span>
                                        <img class="avatar" src="{{ url_for('static', filename='avatars/smurf_3.png') }}" width="40" height="40">
                                    </li>
                                {% endfor %}
                            </ul>

                            <div class="join">
                                <input id="username" required>
                                <button id="join_room_button" data-creator={{ owner_id }}>Join Room</button>
                            </div>

                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="third-col">
                <div id="current_room" class="current">
                    <p class="col-title">Current room</p>
                </div>
            </div>

        </div>
    </section>

    <div class="background">
        <div class="dark-blue-layer"></div>
        <div class="light-blue-layer"></div>
    </div>
</body>
</html>